{% include "sheader.html" %}

<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">

						<h1>STUDENT HOME</h1>
					</div>
				</div>
			</div>
		</div>
</div>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

{% include "footer.html" %}

{% if msg %}
<script>alert('Product Added Successfully..!')</script>
{% endif %}

{% if msg2 %}
<script>alert('order successfully Placed..!')</script>
{% endif %}


