{% include "sheader.html" %}

<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">

						<h1>View Items</h1>
					</div>
				</div>
			</div>
		</div>
</div>
<br><br><br>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ff3333;
  color: white;
}
</style>
</head>

<table  id="customers" align="center">

        <tr><th>Id</th><th>Category</th><th>Product Name</th><th>Price</th><th>Description</th><th>Image</th><th>Manage Items</th></tr>

    {% if msg1 %}
    <script>alert('Product detailes updated successfully.')</script>
    {% endif %}

    {% if msg2 %}
    <script>alert('Product deleted successfully.')</script>
    {% endif %}

    {% for records in items %}
        <tr>
            <td>{{records[0]}}</td>
            <td>{{records[1]}}</td>
            <td>{{records[2]}}</td>
            <td>{{records[3]}}</td>
            <td>{{records[4]}}</td>
            <!--td>{{records[5]}}</td>-->
            <td><img src="{{ url_for('static',filename='pictures/'+records[6])}}" width="50" height="50"></td>

            <td>
                <a href="update/{{records[0]}}">update</a>
                <a href="delete/{{records[0]}}">delete</a>
            </tr>
    {% endfor %}
    </table>
<br><br><br><br><br><br>
{% include "footer.html" %}