{% include "sheader.html" %}

<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">

						<h1>Wishlist</h1>
					</div>
				</div>
			</div>
		</div>
</div>
<br><br><br>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ff3333;
  color: white;
}
</style>
</head>

<table  id="customers" align="center">

        <tr><th>Id</th><th>Item Name</th><th>Image</th><th>Student Email</th></tr>

    {% for records in wishlist %}
        <tr>
            <td>{{records[0]}}</td>
            <td>{{records[1]}}</td>
            <td><img src="{{ url_for('static',filename='pictures/'+records[2])}}" width="50" height="50" ></td>

            <td>{{records[3]}}</td>

            </tr>
    {% endfor %}
    </table>
<br><br><br><br><br><br>
{% include "footer.html" %}

{% if msg %}
<script>alert('there is no records')</script>
{% endif %}
